html {
 height: 100%
}
body {
 height: 100%;
 margin: 0;
 padding: 0;
}
#map {
 height:100%;
}
.git {
  height: 10px;
}
.my-label {
    position: absolute;
    width:100px;
    font-size:10px;
}
.pop-img{
  width: 100px;
  height: 100px;
}
.form-section{
  width : 500px;
  background-color: #82D0B1;
  min-height: 500px;
  padding: 10px 20px 10px 20px;
  color : #ffffff;
  margin : 0 auto;
}
